html{
    font-family: "Winky Rough", sans-serif;
    background-color: #FFE1E0;
}
#header>p{
    color: #FFF287;
}
img{
    border-radius: 2%;
}
#header{
    text-align: center;
    background-color: #7F55B1;
    padding: 10px;
}
h1,h2{
    color: #F49BAB;
}
#nav-div{
    text-align: center;
    background-color: #9B7EBD;
    margin-top: -15px;
}
#nav-div>nav>ul>li{
    display: inline-block;
    padding: 10px;
}
a{
    text-decoration: none;
    color: #FFF287;
}
#content{
    margin-left: 5%;
}