html{
    font-family: "Winky Rough", sans-serif;
    background-color: #77BEF0;
}
img{
    border-radius: 2%;
}
p{
    padding: 10px;
}
#content{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    background-color: wheat;
    border-radius: 2%;
}
h1{
    color: #EA5B6F;
}